include ../includes/header.pug
link(rel='stylesheet', href='../css/404.css')
body
    .jumbotron.text-center
        h1.display-4 401
        p.lead Unauthorized access detected! Please obtain the necessary credentials to proceed with your strategic operations.
           i.fa-solid.fa-x.ms-1
        a.btn.btn-primary.mx-1(href='/') Regain Control