include ../includes/header.pug
link(rel='stylesheet', href='../css/404.css')
body
    .jumbotron.text-center
        h1.display-4 404
        p.lead Looks like you've stumbled upon a lost division in the fog of war. Please regroup and try again.
           i.fas.fa-question.pl-2 
        a.btn.btn-primary.mx-1(href='/') Escape the Temporal Vortex and Return to the Dashboard