#search {
    max-width: 300px;
}
#search + button {
    border: none;
    margin: 3px 0;
}

li {
    cursor: pointer;
    transition-duration: 0.3s;
}

.commands li {
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #7289da;
}

.categories li {
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #9656ce;
}