:root {
    --colorprimary: #517EE1;
    --colorsecondary: #FFE640;
    --purple: #A45AFF;
    --black: #1e2124;
}

@media(min-width: 1100px){


    .jumbotron {
        color: black;
    }

    .jumbotron .heading-container{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 16rem;
        padding-bottom: 9rem;
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 580px;
        max-height: 50%;
        width: 100%;
        text-align: left;
    }

    .heading-container h1 {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 4rem;
        color: white;
    }
    .heading-container p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        margin-top: .2rem;
        margin-bottom: 1rem;
    }
    .button-container {
        justify-content: flex-start !important;
        max-width: none !important;
        flex-direction: row !important;
        display: flex !important;
        gap: 1rem !important;
    }

    .heading-container #typedText{
        color: var(--colorsecondary);
    }


    .bg-hero-image {
        position: relative;
        height: 100vh;
    }

    .gridContainer{
        display: grid;
        width: 100%;
        height: 100vh;
    }
    .cards{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        flex-wrap: wrap;
        z-index: 1;
        margin: auto;
        margin-top: -30vh;
    }

    .cards .card{
        position: relative;
        width: 280px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0,0 ,0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }

    .cards .card .content{
        padding: 20px;
        text-align: center;
        transform: translateY(100px);
        opacity: 0;
        transition: 0.5s;
    }

    #hoi4::before{
        content: "";
        background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1558765964098544392/EA79174990441B16C68214A2406925DE488AE2EB/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
    }
    #music::before{
        content: "";
        background-image: url('https://media.npr.org/assets/img/2010/11/11/vietnam_wide-cda3df0a1be23fdab09ff9f7a2dc83893feb2d90.jpg?s=1000');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
    }
    #history::before{
        content: "";
        background-image: url('https://www1.wellesley.edu/albright/sites/www.wellesley.edu.albright/files/styles/large/public/field/image/Image-for-VD-post_smaller.jpg?itok=CxzOi_GV');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
    }

    .cards .card:hover .content{
        transform: translateY(0px);
        opacity: 1;
    }

    .cards .card .content h2{
        position: absolute;
        top: -40px;
        right: 30px;
        font-size: 8em;
        color: rgba(255, 255, 255, 0.05);
        pointer-events: none;
    }
    .cards .card .content h3{
        font-size: 1.8em;
        font-weight: 600;
        color: #fff;
        z-index: 1;
    }
    .cards .card .content p{
        font-size: 1em;
        color: #fff;
        font-weight: 300;
    }
    .cards .card .content a{
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: var(--colorprimary);
        color: #fff;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .cards h1{
        color: var(--colorprimary);
        font-weight: 700;
        font-size: 2.5rem;
    }
    .gridContainer #features{
        padding-top: 1rem;
        text-align: center;
        color: var(--colorsecondary);
        font-weight: 700;
        font-size: 3.5rem;
    }
    .cards span{
        color: white;
    }

    #dcButton{
        background-color: var(--colorprimary);
        color: white;
    }
    
    #dcButton:hover{
        background-color: #3B65B4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    #dashButton{
        background-color: var(--black);
        color: white;
    }
    #dashButton:hover{
        background-color: #181b1e;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    body {
        font-family: proxima-nova,sans-serif,Helvetica,arial,sans-serif;
        background-image: url('https://i.imgur.com/T1Hj5c6.jpeg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar{
        display: none;
    }
}

@media(max-width: 1099px){
    .jumbotron {
        color: black;
    }

    .jumbotron .heading-container{
        padding-top: 15vh;
        padding-bottom: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: left;
    }

    .heading-container h1 {
        padding-left: 4vw;
        padding-right: 3vw;
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 3rem;
        color: white;
    }
    .heading-container p {
        font-size: 0.8rem;
        line-height: 1.5em;
        color: white;
        margin-top: .2rem;
        margin-bottom: 1rem;
    }
    .button-container {
        justify-content: flex-start !important;
        max-width: none !important;
        flex-direction: row !important;
        display: flex !important;
        gap: 1rem !important;
    }

    .heading-container #typedText{
        color: var(--colorsecondary);
    }


    .bg-hero-image {
        position: relative;
        height: 100vh;
    }


    .cards{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        flex-wrap: wrap;
        z-index: 1;
        margin: auto;
    }

    .cards .card{
        position: relative;
        width: 140px;
        height: 200px;
        margin: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0,0 ,0.5);
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }

    .cards .card .content{
        padding: 10px;
        text-align: center;
    }

    .cards .card .content h2{
        position: absolute;
        top: -20px;
        right: 15px;
        font-size: 4em;
        color: rgba(255, 255, 255, 0.05);
        pointer-events: none;
    }
    .cards .card .content h3{
        font-size: 1em;
        font-weight: 600;
        color: #fff;
        z-index: 1;
    }
    .cards .card .content p{
        font-size: 0.51em;
        color: #fff;
        font-weight: 300;
    }
    .cards .card .content a{
        position: relative;
        display: inline-block;
        padding: 4px 10px;
        margin-top: 7px;
        background: var(--colorprimary);
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .cards .card .content a span{
        font-size: 0.6em;
    }
    .cards h1{
        color: var(--colorprimary);
        font-weight: 700;
        font-size: 2.5rem;
    }
    .gridContainer #features{
        padding-top: 1rem;
        text-align: center;
        color: var(--colorsecondary);
        font-weight: 700;
        font-size: 3.5rem;
    }
    .cards span{
        color: white;
    }

    #dcButton{
        background-color: var(--colorprimary);
        color: white;
    }
    
    #dcButton:hover{
        background-color: #3B65B4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    #dashButton{
        background-color: var(--black);
        color: white;
    }
    #dashButton:hover{
        background-color: #181b1e;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    body {
        background-image: url('https://i.imgur.com/T1Hj5c6.jpeg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: proxima-nova,sans-serif,Helvetica,arial,sans-serif;
    }
}

