:root {
    --colorprimary: #517EE1;
    --colorsecondary: #FFE640;
    --yellowdeep: #FFD600;
    --purple: #A45AFF;
    --lightgreen: #5cb85c;
    --green: #4a934a;
    --hardgreen: #408140;
    --darkgreen: #376E37;
    --black: #1e2124;
    --offwhite: #f5f5f5;
    --blue: #0084F5;
    --darkblue: #0077D0;
}
body {
    overflow-x: hidden;
    font-family: proxima-nova,sans-serif,Helvetica,arial,sans-serif;
}

.round {
    border-radius: 50% !important;
}
.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}
.cursor-pointer {
    cursor: pointer !important;
}