include ../includes/header.pug
link(rel='stylesheet', href='/css/dashboard.css')
link(rel='stylesheet', href='/css/sidebar.css')
body
    include ../includes/sidebar.pug
    include ../includes/navbar.pug
    .jumbotron.text-center
        h1.display-3 #{guild.name}