link(rel='stylesheet', href='../css/navbar.css')

nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
  .container-fluid
    a.navbar-brand(href='/#')
        img(src="https://i.imgur.com/xtdOtAH.jpeg", alt="", width="40", height="40")
        span.px-2 Ironclad
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
        .navbar-nav
            a.nav-link(href='/commands')
                i.fas.fa-code
                span.px-1 Commands
            a.nav-link(href='/reservations')
                i.fa-solid.fa-globe
                span.px-1 Reserved Countries
            a.nav-link(href='/config')
                i.fa-solid.fa-gear
                span.px-1 Configuration
        .navbar-nav.ms-auto
            if user
                .dropdown.me-2
                    .dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        img.user-avatar.round(src=user.avatarUrl(32))
                        span.ps-2 #{user.username}
                        .dropdown-menu
                            a.dropdown-item(href='/dashboard')
                                span Dashboard
                            hr
                            a.dropdown-item(href='/logout')
                                i.fa-solid.fa-arrow-right-to-bracket
                                span.px-1 Logout
            else
                a.nav-link(href='/login')
                    i.fa-brands.fa-discord
                    span.px-1 Login
