include includes/header.pug
link(rel='stylesheet', href='/css/index.css')
script(type="text/javascript", src="vanilla-tilt.js")
body
    include includes/navbar.pug
    .jumbotron.text-start.bg-hero-image
        .heading-container
            h1 Ironclad, the Discord bot built for 
              span(id="typedText")
            p Supercharge your HOI4 games & more! Ironclad is a feature-packed Discord bot which streamlines HOI4 event hosting and offers a toolbox for all your server needs.
            .button-container
              a.btn(href='/invite' id="dcButton")
                i.fa-brands.fa-discord
                span.px-2 Add to Discord
              a.btn(href='/dashboard' id="dashButton")
                i.fa-solid.fa-gauge-simple-high
                span.px-2 Go to Dashboard
    .gridContainer
        h1(id="features") What We Offer.. 
        .cards
          .card(id="hoi4")
            .content
              h2 01
              h3 HOI4
              p Get access to commands with features used to start a game and let player reserve countries on Discord.
              a(href='/invite')
                i.fa-brands.fa-discord
                span.px-2 Try it Yourself
          .card(id="music")
            .content
              h2 02
              h3 Music
              p Play your favorite music using the feature-rich commands, that allow you to play any music you want along with other useful music-related things.
              a(href='/invite')
                i.fa-brands.fa-discord
                span.px-2 Try it Yourself
          .card(id="history")
            .content
              h2 03
              h3 History
              p Receive your daily history facts, or go more philosopher-style and study some quotes.
              a(href='/invite')
                i.fa-brands.fa-discord
                span.px-2 Try it Yourself
                                
    
    script.
      VanillaTilt.init(document.querySelectorAll(".card"), {
      max: 25,
      speed: 400,
      glare: true,
      "max-glare": 1,
      });
script.
  var typed = new Typed('#typedText', {
  strings: ['HOI4 Events.', 'Music.', 'Quotes.', 'History.'],
  typeSpeed: 145,
  backSpeed: 80,
  loop: true
  });
  
