include includes/header.pug
link(rel='stylesheet', href='/css/index.css')
body
    include includes/navbar.pug
    .jumbotron.text-center
        h1.display-4 Panzer Bot
        p.lead Discord bot. Made for HOI4.
        button.btn.btn-primary Add