include includes/header.pug
link(rel='stylesheet', href='/css/index.css')
body
    include includes/navbar.pug
    .jumbotron.text-center.bg-hero-image
        img(src='https://i.imgur.com/PytKyDa.png', alt='Panzer Bot').mt-5
        h1.display-4 Discord bot. Made for HOI4.
        a.btn.btn-primary.mx-1(href='/invite') Add
        a.btn.btn-dark.mx-1(href='/dashboard') Dashboard